{% extends "base.html" %}

{% block content %}
    {{ entry.kind_str }}<br>
    <h2>
        <small><a href="{{ url_for('route_detail', id=entry.parent.id) }}">{{ entry.parent.name }}</a>::</small><wbr>{{ entry.name }}
    </h2>

    <hr>
    <code>{{ entry.function_signature_str|safe }}</code>
    <hr>

    {% if entry.sections.brief %}
        <p class="lead">{{ entry.sections.brief|safe }}</p>
    {% endif %}

    {% if entry.sections.detailed %}
        <p>{{ entry.sections.detailed|safe }}</p>
    {% endif %}

    {% if entry.sections.note %}
        {% if entry.sections.note|length > 1 %}
            <h5 style="margin-top: 2em;">Notes</h5>
            <ul>
                {% for par in entry.sections.note %}
                    <li>{{ par|safe }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <h5 style="margin-top: 2em;">Note</h5>
            <p>{{ entry.sections.note[0]|safe }}</p>
        {% endif %}
    {% endif %}

    {% if entry.sections.pre %}
        <div class="alert alert-primary" style="margin-top: 2em;" role="alert">
            {% if entry.sections.pre %}
                {% if entry.sections.pre|length > 1 %}
                    <h5>Preconditions</h5>
                    <ul>
                        {% for par in entry.sections.pre %}
                            <li>{{ par|safe }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h5>Precondition</h5>
                    <p>{{ entry.sections.pre[0]|safe }}</p>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}

    {% if entry.sections.warning %}
        <div class="alert alert-warning" style="margin-top: 2em;" role="alert">
            {% if entry.sections.warning %}
                {% if entry.sections.warning|length > 1 %}
                    <h5>Warnings</h5>
                    <ul>
                        {% for par in entry.sections.warning %}
                            <li>{{ par|safe }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h5>Warning</h5>
                    <p>{{ entry.sections.warning[0]|safe }}</p>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}

    {% if entry.sections.post %}
        {% if entry.sections.post|length > 1 %}
            <h5 style="margin-top: 2em;">Postconditions</h5>
            <ul>
                {% for par in entry.sections.post %}
                    <li>{{ par|safe }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <h5 style="margin-top: 2em;">Postcondition</h5>
            <p>{{ entry.sections.post[0]|safe }}</p>
        {% endif %}
    {% endif %}

    {% if entry.sections.templateparam %}
        <h5 style="margin-top: 2em;">Template parameters</h5>
        <p>
            {% for par in entry.sections.templateparam %}
                {{ par|safe }}
            {% endfor %}
        </p>
    {% endif %}

    {% if entry.sections.param %}
        <h5 style="margin-top: 2em;">Parameters</h5>
        <p>
            {% for par in entry.sections.param %}
                {{ par|safe }}
            {% endfor %}
        </p>
    {% endif %}

    {% if entry.sections.return %}
        <h5 style="margin-top: 2em;">Return value</h5>
        {% for par in entry.sections.return %}
            <p>{{ par|safe }}</p>
        {% endfor %}
    {% endif %}

    {% if entry.sections.Example %}
        <h5 style="margin-top: 2em;">Example</h5>
        {% for par in entry.sections.Example %}
            <p>{{ par|safe }}</p>
        {% endfor %}
    {% endif %}

    {% if entry.sections.Complexity %}
        <h5 style="margin-top: 2em;">Complexity</h5>
        {% for par in entry.sections.Complexity %}
            <p>{{ par|safe }}</p>
        {% endfor %}
    {% endif %}

    {% if entry.sections['Iterator validity'] %}
        <h5 style="margin-top: 2em;">Iterator validity</h5>
        {% for par in entry.sections['Iterator validity'] %}
            <p>{{ par|safe }}</p>
        {% endfor %}
    {% endif %}

    {% if entry.sections['Exception safety'] %}
        <h5 style="margin-top: 2em;">Exception safety</h5>
        {% for par in entry.sections['Exception safety'] %}
            <p>{{ par|safe }}</p>
        {% endfor %}
    {% endif %}

    {% if entry.sections.Requirements %}
        <h5 style="margin-top: 2em;">Requirements</h5>
        {% for par in entry.sections.Requirements %}
            <p>{{ par|safe }}</p>
        {% endfor %}
    {% endif %}

    {% if entry.sections.exception %}
        <h5 style="margin-top: 2em;">Exceptions</h5>
        {% for par in entry.sections.exception %}
            <p>{{ par|safe }}</p>
        {% endfor %}
    {% endif %}

    {% if entry.sections.see %}
        <h5 style="margin-top: 2em;">See also</h5>
        <ul>
            {% for par in entry.sections.see %}
                <li>{{ par|safe }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if entry.sections.since %}
        <h5 style="margin-top: 2em;">Since</h5>
        {% for par in entry.sections.since %}
            <p>{{ par }}</p>
        {% endfor %}
    {% endif %}

    <h5 style="margin-top: 2em;">Location</h5>

    {% set location = entry.child('location') %}
    {% set location_file = lookup[files[location.attrib.file]] %}
    <p>
        Definition at line {{ location.attrib.line }} of file
        <a href="{{ url_for('route_detail', id=location_file.id) }}">{{ location_file.name }}</a>.
    </p>

    <hr>

    <h5>Parameters</h5>

    {% if entry.params %}
        <ul>
            {% for param in entry.params %}
                <li>{{ param.type_str|safe }}<br>{{ param.declname }}<br>{{ param.defval }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>None.</p>
    {% endif %}

    <h5>Return value</h5>

    <p>{{ entry.type_str|safe }}</p>

    <h5>Full definition</h5>

    <p><code>{{ entry.child('definition').text }}{{ entry.child('argsstring').text }}</code></p>

    <h5>Sections</h5>

    {{ entry.sections }}

    <hr>

    {{ entry.detaileddescription|safe }}

    <code>{{ entry.xml }}</code>

{% endblock %}
