{% extends "base.html" %}

{% block content %}

    <h2>Member functions</h2>

    <p>Here is a list of all class members with links to the classes they belong to:</p>

    {% for initial, initial_group in class_members|groupby('initial') %}
        <p class="lead"><kbd>{{ initial }}</kbd></p>

            <ul class="list-unstyled" style="column-count: 2;">
                {% for member in initial_group %}
                    <li><a href="{{ url_for('route_detail', id=member.id) }}">{{ member.name }}</a> - {{ lookup[member.id].parent.name }}</li>
                {% endfor %}
            </ul>

    {% endfor %}

{% endblock %}
